.workflow-canvas {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  overflow: auto;
}

.canvas-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.menu-overlay {
  position: absolute;
  z-index: 1000;
}


@media (max-width: 768px) {
  .workflow-canvas {
    height: 400px;
  }
}
